extends layout 

block content
  h3="Send Message"

  form(method='POST' action='/new')
    label
      | Name: 
      input(type='text' name='username')
    label
      | Text: 
      input(type='text' name='messageText')
    button(type='submit') Send
